.container{
  background: blue;
  color: whitesmoke;
}
.user{
display: flex;
  justify-content: center;
  text-align: center;
}
.downContainer{
  background: yellow;
  color: black;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
